PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://remuelavengoza_db_user:h1cbNV2zK5o54qZb@ac-sjoaydy-shard-00-00.wkgpq1x.mongodb.net:27017,ac-sjoaydy-shard-00-01.wkgpq1x.mongodb.net:27017,ac-sjoaydy-shard-00-02.wkgpq1x.mongodb.net:27017/?ssl=true&replicaSet=atlas-c1gufd-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=
REFRESH_TOKEN_SECRET=
JWT_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=30d
CORS_ORIGIN=
CRON_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PENALTY_PER_DAY=10
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
BREVO_FROM=
APP_LANDING_URL=
